.tabla-usuarios {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.tabla-usuarios, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  /*border-spacing: 5px;*/
  padding: 5px;
}

caption {
  color: #C36A2D;
  font-size: 45px;
  line-height: 70px;
}

th {
  color: #FBFBFB;
  background-color: #C36A2D;
  font-weight: bold;
}

/*Renglones pares*/
tr:nth-child(even) {
  background-color: #FBFBFB;
}

/*Renglones impares*/
tr:nth-child(odd) {
  background-color: #FBFBFB;
}
