/* Three columns side by side */
.presentacion {
  float: center;
  width: 30%;
  margin-bottom: 10px;
  padding: 0 10px;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .presentacion {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #E2C275;
}
.card img{
    width: 100%;
}

/* Some left and right padding inside the container */
.tarjeta {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Clear floats */
.tarjeta::after, .contacto::after {
  content: "";
  clear: both;
  display: table;
}

.title-tarjeta {
  color: grey;
}

.contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #C36A2D;;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.contact:hover {
  background-color: #555;
}
.contacto{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
}

.tarjeta h2{
    font-weight: bold;
}